ion-card-title {
    color: #e600ac;
}

ion-card{
    background-color: white;
}

ion-content{
    color: #e600ac;
}

ion-header{
    background-color: #e600ac;
}

div {
    padding-top: 5%;
    color: black;
}