#container {
  text-align: center;
  margin-top: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#contenedor {
  margin: 30px;
}