.nombre {
    padding-top: 8%;
    padding-left: 13%;
    padding-right: 13%;
}

.fecha {
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 13%;
}

.descripcion {
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 8%;
}

.botonAgregar {
    padding-left: 13%;
    padding-right: 13%;
}

.selector {
    display: flex;
}

.selectorDia {
    margin-right: 10%;
}