ion-card-title {
    --color: #e600ac;
  }
  
ion-card-subtitle {
    --color: #e600ac;
}

ion-content {
    --background: #e600ac;
}

.botonVerMas {
    color: #e600ac;
    background: #dfdfdf;
    border-radius: 5px;
}

.botonAdd {
    border-radius: 50%;
    color: #000000;
    right: 20px;
    bottom: 80px;
}

.txt {
    color: black;
}

.fecha {
    color: #e600ac;
}

