<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi App de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <div>
    <ion-card *ngFor="let tarea of tareas; let i = index">
      <ion-card-header>
        <ion-card-subtitle>{{tarea.nombre}}</ion-card-subtitle>
        <ion-button (click)="eliminarTarea(i)" fill="clear" class="eliminar">Eliminar</ion-button>
      </ion-card-header>  
      
      <ion-card-content>
        <div class="fechaTarjeta">
          <p class="txt">Fecha:</p>
          <p class="fecha">{{tarea.mes}} {{tarea.anio}}</p>
        </div>
      </ion-card-content>

      <ion-button [routerLink]="['/vista-detalle']" expand="full" class="verMas">+ Ver más detalles</ion-button>
    </ion-card>

  </div>

  <ion-fab>
    <ion-fab-button [routerLink]="['/agregar-tarea']" class="botonAdd" color="secondary">+</ion-fab-button>
  </ion-fab>
  
</ion-content>
