ion-card-title {
    color: #e600ac;
  }
  
ion-card-subtitle {
    color: #e600ac;
    width: 73%;
}

ion-content {
    --background: #e600ac;
}

ion-card-header {
    display: flex;
    justify-content: center;
}

ion-card{
    background-color: white;
}

.verMas {
    --background: #d3dade;
    color: #e600ac;
}

.descripcion {
    padding: 5%;
}

.botonAdd {
    border-radius: 50%;
    color: #000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fechaTarjeta {
    display: flex;
}

.txt {
    color: black;
}

.fecha {
    color: #e600ac;
}

.eliminar {
    position: fixed;
    padding-left: 65%;
    color: red;
    font-size: 15px;
}
